html, body {
	min-width: 500px;
}

h1 {
	text-align: center;
}

#controls {
	margin-bottom: 20px;
	text-align: center;
}
#controls > * {
	display: inline-block;
	vertical-align: middle;
	max-width: 400px;
	width: 30%;
}
#cur-link {
	display: inline-block;
	text-decoration: none;
	color: black;
	padding: 5px 10px;
	border: 5px solid green;
	border-radius: 10px;
	font-size: 25px;
}
#btn-prev, #btn-next {
	padding: 10px;
	background-color: gray;
	color: white;
	border: 0;
	font-size: 20px;
}
/* CSS Triangle: https://css-tricks.com/snippets/css/css-triangle/ */
#btn-prev:before {
	content: ' ';
	display: inline-block;
	width: 0;
	height: 0;
	margin-right: 10px;
	vertical-align: middle;
	
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 20px solid white;
}
#btn-next:after {
	content: ' ';
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 10px;
	vertical-align: middle;
	
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 20px solid white;
}

#source-controls {
    text-align: center;
    margin-bottom: 5px;
}
#source-controls>* {
    display: inline-block;
    vertical-align: middle;
	max-width: 300px;
	width: 20%;
}
#source-link {
    text-decoration: none;
    color: black;
    padding: 2px 5px;
    border: 2px solid red;
    border-radius: 5px;
    font-size: 20px;
}
#btn-source-prev, #btn-source-next {
    padding: 5px;
    background-color: gray;
    color: white;
    border: 0;
    font-size: 15px;
}
#btn-source-prev:before {
	content: ' ';
	display: inline-block;
	width: 0;
	height: 0;
	margin-right: 5px;
	vertical-align: middle;
	
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 10px solid white;
}
#btn-source-next:after {
	content: ' ';
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 5px;
	vertical-align: middle;
	
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 10px solid white;
}

#frame-div {
	display: block;
	overflow: auto;
	margin: 0 auto;
	padding: 0;
	width: 90%;
	height: 750px;
    border: 1px solid black;
}
#frame {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	border: 0;
}

h2 {
	text-align: center;
}
#ep-list {
	width: 90%;
	max-width: 700px;
	margin: 0 auto;
	border-collapse: separate;
	border-spacing: 0;
	border: 1px solid black;
	text-align: center;
	font-size: 20px;
}
#ep-list th, #ep-list td {
	padding: 5px;
}
#ep-list tr:nth-child(even) td {
	background-color: lightgray;
}
#ep-list>tr:hover td {
	background-color: darkgreen;
	color: white;
}